# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint

# Xcode user data
*.xccheckout
*.moved-aside
*.xcuserdatad/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
pairingFile.plist

# Editors
.vscode/
