<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTJNRFF4TlRBMk5ERTAKTUZvWERUTTJN
	RFF4TWpBMk5ERTBNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUo1UVAySFA1UElsUGJVNWZ5R2dWSHhZcUlrUm1mTVRyQUU5K3dPYVpy
	K0VtSW1IbE8zUStlZXUzeDYyClNYckRQVFVwaWhvVXB4RHQ4NHh3Y3dIMXpna1M1aEM3
	MGlwR1BGa2pyeDQ0WlRIUXIzNVBEK2tIVGU0NVg3ck4KbU4vNUNsaWE4NWo1Z0dRRVRF
	R2JQU2tlYmlqVGFvOEQ4TFYrekp6aExFUDN4aW12YjJYdjByc1laV242SHFYaAozVE5K
	blBxNXREcThIYmx0TXIyYWZQTGZWdEhodEp2VWxLcVVHVHZORjV3bEt1V3hRRC9DMVVm
	K2tuT0grK25GCnBTOThOcTVwSmlQWFBRREtFK09OcEVJUXU5Zy9yWEZLYmN2UXM5dEFE
	aTd1elFCZU5aR3FQekRjam9TaDNRbnkKcEVqRy80MmpSc09kTEU4ci9adTlHTHBxNy9j
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVUYrbERH
	S0xwUnJMc0l0SktBQUhGem02NmxYWXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUJoWXpCWEtraWc5bEp2SmZUOFM3UDB3S3VUMms0UE9Q
	R3FzdUtaZHVWRnRlZ3cKZWVUVml6WHI3eTRmTnlaeUgrYkVDZ0szTHEwaUJMZWw4WEhL
	T3V2bjl6cTcxSkZqMEhIdDNFWStnWU40MlIwagpTeWR2RmZNUldZVnBqRi9pQmx0TlRr
	UW5UcTY3ZlFWcHZyMy9LQzNmTlpQa2NxV1U4dWRQWG00dkgxZEZGU2FhCkhSSFpBMy9x
	emtjZXRvVGsyNEJoWkNsUVkrVmdGWGw5Tmkrc3NRYWFjeHAremlFUDEvbUpIaEFQVDFL
	NmZ2SkgKRTd4aE5jSitFdVFmWGczdmk5aWZ0VGpJeU80aXB4OERKUlRXYloydk1hNWJF
	aEZickVDT1lwMWgvY0xUMHErcwovM1dRUUJ5ay9vY0RWTHN3bm1waVo0bjlZelFsajY3
	aXEzMFBWS2oyCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQ3hkMWtpZWlPTGEwVm8KcWVsZU1OeWVD
	RHRDSE9kTDZwY3ovMHNWbmVVcDd4a2xwSnMzbHM2SVFJbEZEdVRLanRINWlpQm1TK25E
	V0lRZQpUbmxjRTEyUC9lZklSbDhPdSsrUXZHYkhUdUxUbFN2UHdQMTRJUDJHVTNkZXJH
	NCtrTUo4MXAzZmwveTBXQU5hCllwSHMwQldncDFNc0NzakFtY2s4THlpVzl1bzZXMjl4
	UlMyWEthVTNlbkd4Qy9LSUx2SHpMVzN6RCsrNGhHbXoKWHdEbktlOHNNMERoMDFyc0NH
	WjJCcGcrU1lxM3ZBYUJBWHdtN1JrYlRVbDFzaXQ5ZFRJM3JPZHNrYlEwODMxVApZdHds
	Wi9QaldVUnByNDVhc0xIMEMvaWRkZDl4azJFeUFQT3U3Q2JmQml3TDJ3dzZtMzBMZkFh
	bHA2T2paVXlnCkpHYzdiTG43QWdNQkFBRUNnZ0VCQUlmL2JTaFZyMDJWYkVCMERXbm9T
	ZmsxVjZ3bm1EeitUdGRES2hncncwVnEKZkx2ek5CdmFqdld0ZDBTYjBFdEdQYlZjMjgx
	cEdZQmhJZ1pUbnY4bnZBaXZ6R01YUXB0NC9ITFBYbmdZaFEwZQpBTkFhRm1ScjY3MTMw
	eitUSm56OTFIMTB2dEZ0bVBQZml0cEdOWXZrUHQ2NXU2eEJxMnlscmFoWWYyT0pYeUJP
	ClVSZEt1MGJkMldWOWdoUlJzRkc2SkFubE03MWsxTnJiZzNyTTZoUVc4c3NiWDlETDBJ
	ZGRyZ2dDVWVWRUdreWQKanZBVXF2MDhnS2lGQ1N2b2tldWtjTnc2YmNjaWp1NXRNM1du
	emE3NVNIcE5Gd2dleVhJRW1TTlFVWjhLTE5PZQpSaHAzNHA2VHBJVG5uZm5CY1RJSG9S
	dFliVzZKSm1aVDVxWmxRK2ZGVG1rQ2dZRUExK25TZDZwWUcyZFdMb0NQCjhJMWhxZ0tv
	ZDZ0TjFPQjk2b0x2SjVncm42dk5EeGRQbWsrcTVKejRvQWxXckkxS1NFSDRZSExoNWgr
	TUYxSGgKWCtCblZSc0w2QWpoRmRFbmtxMCsyWENLQXpmYzdXVkc5Ymxoa3AraldSZERS
	SEFUR3Uvb05rUWtpeGRRK2dqcQp3TFRqUXZ4T0ZqeGV2OXV0MW00VDFuSDllUlVDZ1lF
	QTBtb3FTbmR3SWlJSG01b3o4SGZ0WHBkeTBwM21LLzRkCmlPWGNwVUZaRHNxZW9IRVFp
	dFZ1NWFZWnVyeGtyVDBUVnNZSW1SODhtNFNlS2ZiVUZYOU4vcldvVlNIOEJHTGUKUUlY
	N0RXUTZkcUROMVZPUFVvWDNsTVZzUmVyajNtTSs2SlQ2YmwzSkUzZGFrbGtRcGNtVWwx
	TDRhZklSSUVHNwp4TjJCc0FzSkNzOENnWUJYWjE0OTl3Vkh3cU5PbTlpcEJuSzh3ZXEw
	MXZIZzlTZkQ0VkV5OUJUa3hFVjBrSGsyCi9IMHZvcU83RlV5eStWZFN2UEh4Q1ZDTk9j
	UWFSSms1bUx2NzVjRUNJMllLME9wMkpBL0hNaG1NaC9hMVcwUkkKZ00wUTcvTE9RKzZG
	SytGd0RDSXlwWTh0aHpqT253RjVGVURTZ3hTUlI4c0xXOENaaDJJY2MzU3FxUUtCZ0Vt
	VwpaNFB6a1h2ZWV0cW9hMUhHSDNYZGNZTEhSaUJNbHZleHJDRC9ZYTRTbnJkdDAyTTZr
	Yll2Q1FDTnNvZ0R2Q2UwCnluMEN0NmVNRWVTTE5sRHVYTkNmcDJkZW8wekZad1VaMWxz
	d21tR3lpMG40RnorOUtvRVZLbkNwWFZnQlRaYjUKd3p1bUFSU1Z3VTg5WnQwVVNxdEJr
	Uzg4UVZFT3JDU0ZjejJtSGx0eEFvR0JBTDRYQzV4blpsdUd0L0owOE5IMApQNmJsREFq
	NktwQjV2NmVlc0VhR1ZnT3JzNkVFOEpWeUFCRlZSNWh1UFM4eit1YWhDVHRBTGY1eVFV
	VnFkdHZPCjNGcHV1NUlzTjNWanhjbkc2cjRMN2lMZk41TU1VWG9FOVgwbEZ3Tmo0cVQ0
	b3BkMHRqSVp3Ni9xdGZlYUNhYVgKMTFmdndLR0VnL0JQemYzMXZiMlZrbTVWCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTJNRFF4TlRBMk5ERTAKTUZvWERUTTJN
	RFF4TWpBMk5ERTBNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUxGM1dTSjZJNHRyUldpcDZWNHczSjRJTzBJYzUwdnFselAvU3hXZDVT
	bnZHU1drbXplV3pvaEFpVVVPCjVNcU8wZm1LSUdaTDZjTlloQjVPZVZ3VFhZLzk1OGhH
	WHc2Nzc1Qzhac2RPNHRPVks4L0EvWGdnL1laVGQxNnMKYmo2UXduelduZCtYL0xSWUEx
	cGlrZXpRRmFDblV5d0t5TUNaeVR3dktKYjI2anBiYjNGRkxaY3BwVGQ2Y2JFTAo4b2d1
	OGZNdGJmTVA3N2lFYWJOZkFPY3A3eXd6UU9IVFd1d0labllHbUQ1SmlyZThCb0VCZkNi
	dEdSdE5TWFd5CkszMTFNamVzNTJ5UnREVHpmVk5pM0NWbjgrTlpSR212amxxd3NmUUwr
	SjExMzNHVFlUSUE4NjdzSnQ4R0xBdmIKRERxYmZRdDhCcVdubzZObFRLQWtaenRzdWZz
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXRiSTY2
	TzUzZElINjM3blJwcGd5a1V5SlNhd3dEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUNZRWN1ZHp6aVk1WkxEU0JYNUdmL2o4TkVhb1l6eEpR
	b1NrYzNYejFTeXYvcTEKdmYwenJXejVDNDRybjZGRG5US1lidDlPcGEzL05xY3ZrdDYy
	UkUwQ0FoR1MwaitWcFhYOFV5RmlHdUYxQnl6YgplSnRxam1GYVBtYXhsMlhpWlEzNGEy
	NE1kMmg0ejJ0WGFhQS83dmJkZHNDeERkTFhEYnJ0K3hXZGoyc21pZHh6CjNsZUExempB
	K1dlZVVEcHJJYk5vWHQ1SjZaMDBIZVhvYnZkZ1pGNTVXNDZXenhWczhoekdHSHdUalVt
	NXl0N0kKNXRpWEV0a2VzN1czN1J1YmpRMkoxK2tZNE04akJjUDZYdmJpQUlMM0RRaUJm
	SEJBZnl5VkcyYzBOVHN2emx4WgprRUtTeDIxdmFMTXd3V3pwcFNGVnRRVkJBeloxVVlN
	YkE3WTlOOGVICi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRQ25VdDBTSU1zdkZ5WkIKTnk2MTlCY082
	b1JUd2VHVGZiOG1EV2p5SlpXSW83UzRPV2dKUVcramxkUzlyd3lPdkJLL3hSb0o1b2t3
	dE9FZAozQ1BtSWhFcURPb0l6RFpJVDhIQUlmVTdVdnBYTkNETWRUSWFGMlRNM3oreFVx
	RDJjcUgrYlVLTStjVXdVUndGCnhRMnVRdUx2SHlJbFlGVDQvYytPWVNmTzBaczA1T3lE
	NzFEamtnak4wMm5jN0owVXpMYjNvVGw3eklGTlkzVmwKdERMcW93MjB5bTdUZXpzdjVi
	VzRPR1FpaEFReUg3WXVXSjRYTWVuYmZnUUcrOHEwMFNac05BbUpiRHg1b0xBagpkVHNh
	Zy9DL1dwVTBhcGF5cExsemhUNHppbDdFaEozaWIvWlhqTUhwUmtlNjlYZm5WWDdua05h
	eVd2UHg1OWdoCmVkN1FhckpiQWdNQkFBRUNnZ0VBVHNWMjUrTGlaTC9zTllXS0N3VG5t
	aEVUek82WWlMd0pNaHZjRFN0ZWMxNUcKWlBnNW55bmNLZElPdm1IYmNwTGQ3TVFZMXhK
	ZUFiMFZ3ZDN5VkpRekttMjcrL3BQajhsa2VGUkVRL0p6Z253NgorS1l2dVJMTVZKckJQ
	SFNlN0liWTlwTnZZamp2K1NnbUhoMC9ySXMybE1ZK2FBUXEzTEY0ZGhvTkNKT3JFc0h6
	CjVYbjNYMjFsTDBnR0VBOHVYaDhQL294czVFbnlNcW5TVTl2WnNKNG14YWZFSlFLT0sx
	dkFJUkg2N05ZcVlUSlEKb2xJQmpkQlIwYlhnS3IybjRmY0dJbmlKdjdMMkE2SXRuR0pO
	VjE2bUlxVk5nVE9NVWw0Vi9OQ1kyV2FMcGJndgpNSy9nSWd4RFQ4b0JESzN1Mm1BVk9E
	NHZmOVJzeHR0WlB1Wm85T3U4YVFLQmdRRGFRcHhMQnNXREpUSkR6dU0yClpHMHZwRkJ0
	dXN1VS9YNDhlSHJacHVMbEJROUg5WERPempoa3NKQlNDRzFDcnFmUkpiWHFMVWpsbGhH
	RDdiblMKNUFPVXhCY09kNFhNalRpWm5uOEp5OXRVV1c1QzhzVCtPQUdQRXNPbm05c1l2
	bGtwak9xeWtCbVNINE56NitkeQp1TExjT3JZYWdQd2J6Y1Ivcnp0d2cxVzFod0tCZ1FE
	RVFZWkxPYitaRTh3UFhGaDlEbWQxd1RnNVA3a1duN01oCmg5WWo2cTNpZ2pDK2ovMU52
	V3dSNTVwTUMxTzVOby9xeFRCYmNyNXQyd0QzaXdaakwvRWZYMUtmSmpUUklZaUgKWUVl
	UlRYOUFvRmR3aTh6bFo3RGxFZ3pvR1JaNThGVVZVa3oxeEhubmswa3liVUw2YXZsL0FI
	OU13QTJxYTR0bgpCL0xYdDRwUmpRS0JnRXJuRHpJa1NjWS9EcWY4cVRjeWNkSW14cjlS
	bXFvdjhKR2FHemIwc2VzOHVFak9yMzhaCmdIcjFxU0d0NktrNHZUam1neTZ4aWRIWWxY
	dzhLa2g0bmM0QkdaU0thaTJQelh2U3kvQTF1TGlTMUdjL1gyR0wKSU9YVDM3ZDJvbE0w
	aCs3ZGdISDFTQUZBdFdFajlWTUdsY05FbHRnenFkRjA1Vm1ZYm9Lblg5T2pBb0dBVkJq
	TAo1aUpKMHR1ajNwVXdxZTNwTVpGcGVVYXdGbHk2a3N5MVcxQ3QwRmovY0RrZFR4bXpY
	SHpGSm43WUVvNnAzdTArCmlvRkJ6cXRBMzlKb0cwcW81VXVnaU9nRFMvWTFuZVVJNWQr
	eWZzdjJqQmlyNVVXb2pKQk9qWXBxa2pnRkRZemwKdzQ2OHVobm9ETDY3SzdsNVRnMjFm
	dnJ4SUN6VFlJUU1jSm1Lb09VQ2dZQUQwMUV6UmV5WE5IRUdnR3hxNlAyUApnZ2cvcW5o
	ZmpWTkNRS1JmRlpMaS9JNFNzb0V1L2p4Y095c3FuWm1kb0dnejFuWGo2NEJSRzYwbDdL
	NGUySU1sCks5T1FYTDFkalg1YktUd0o2NUplcVpXRy85V0NmbTlMNEEyMzJwd0xpelA0
	YmtPNDZyalpXS1F4TVh2L0MySTkKem5XVGRWRktyT1hxUmpkK053OGlCZz09Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNyVENDQVpXZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTJNRFF4TlRBMk5ERTAKTUZvWERUTTJN
	RFF4TWpBMk5ERTBNRm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUtkUzNSSWd5eThYSmtFM0xyWDBGdzdxaEZQQjRaTjl2eVlOYVBJbGxZ
	aWp0TGc1YUFsQmI2T1YxTDJ2CkRJNjhFci9GR2dubWlUQzA0UjNjSStZaUVTb002Z2pN
	TmtoUHdjQWg5VHRTK2xjMElNeDFNaG9YWk16ZlA3RlMKb1BaeW9mNXRRb3o1eFRCUkhB
	WEZEYTVDNHU4ZklpVmdWUGo5ejQ1aEo4N1JtelRrN0lQdlVPT1NDTTNUYWR6cwpuUlRN
	dHZlaE9Ydk1nVTFqZFdXME11cWpEYlRLYnRON095L2x0Ymc0WkNLRUJESWZ0aTVZbmhj
	eDZkdCtCQWI3CnlyVFJKbXcwQ1lsc1BIbWdzQ04xT3hxRDhMOWFsVFJxbHJLa3VYT0ZQ
	ak9LWHNTRW5lSnY5bGVNd2VsR1I3cjEKZCtkVmZ1ZVExckphOC9IbjJDRjUzdEJxc2xz
	Q0F3RUFBYU15TURBd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZApCZ05WSFE0RUZnUVV5
	VTJxTTByOUpMb1VqL1lQdDd1dHE5MWtkUDh3RFFZSktvWklodmNOQVFFRkJRQURnZ0VC
	CkFHendKNkQ1NWxtcXNFZjMzd2E5Uy9HMVcvV3hpR1ZXY3lYT01wSCtLbVhxVnNHU3ln
	QnJqa25zdjlUZkRHdGwKZVY5SzJyZUcrcEdwZTI1NEZMREZrQS80L3NobHFzWEVQWW9U
	Um95RzhjTmJDZ3NsaHVubE84ajBIVXZTZHBwegphZE5McExaUlllMkdRclJaeElISm5F
	ME9yUWtGaUZwY2pSdVloNFp6d05XZS9EbDFkaGYrcXE3ZU5UMzB4L0h0CldYdjQ4VnZS
	SjJQbTdlZDhFTnFEeXJxUFNXWHlWY09rTzBHbXhKT1ZxQWVDU0V0dkpZb2dhcWNtd3NV
	eEU1SjQKMXgyVUhsNDdMdHpwaWJ6N3c3VGFhVmN3YlNrOWxqaHpGS3gvNWNQQStZcGFL
	djFIQmowdDVIVWpWMVNlSDZKZgpNZE1hZEVCV3lYM25zRys0Z2hYTWswTT0KLS0tLS1F
	TkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>SystemBUID</key>
	<string>3121665919364943661055816552</string>
	<key>HostID</key>
	<string>31247522-36237015023898632</string>
	<key>EscrowBag</key>
	<data>
	/Y1TyDRo3KRQBld9n49KZzNo33f404WK5lOOGqqXmQc=
	</data>
	<key>WiFiMACAddress</key>
	<string>f0:c7:25:ac:e4:45</string>
	<key>UDID</key>
	<string>00008120-001C70543470201E</string>
	<key>public_key</key>
	<data>
	JCrnw+nh+TAcQqCQ+gJ39b3S9Uq+VHZh6VhBL5Wh09M=
	</data>
	<key>private_key</key>
	<data>
	MCwFD0qTy2Uny22xVbrLs8V5uSanfaggzQ2skz9u9l8=
	</data>
	<key>identifier</key>
	<string>65f34248-232a-3062-810a-c878d1e833c4</string>
</dict>
</plist>